.header-container{
    background-color: #111;
    display: grid;
    grid-template-columns: .6fr .2fr .2fr;
    position: fixed;
    width: 100vw;
    z-index: 6;
}

.header-left-container{
    display: flex;
    align-items: center;
}

.header-right-container{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0em 3em 0em 1em;
}


.header-link{
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0em 1em 0em 1em;
    grid-template-rows: .7fr auto;
    cursor: pointer;
}

.header-link #league-logo{
    display: grid;
    grid-template-columns: .5fr .5fr;
}

.header-link-underline{
    margin-bottom: 5px;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background-color: rgb(11, 196, 226);
    opacity: 0;
}

.header-globe{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: none;
    margin: 0em 0em 0em 1em;
}

.page-cover{
    position: fixed;
    background-color: #111;
    width: 100%;
    z-index: 2;
    height: 100%;
    opacity: 0;
}

.background-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bio-container{
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .3fr 2.1fr auto;
}

p{
    margin: 18px 0px 8px 0px;
    padding: 7px;
}

p#universe{
    margin: 10px 0px 8px 0px;
}
.text-base{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
body{
    background: #111;
    margin: 0;
    overflow-x: hidden;
}