body{
    margin: 0;
    overflow-x: hidden;
}

.header-container{
    padding: 10px;
    display: grid;
    height: 75px;
    grid-template-columns: repeat(5, auto [col-start]) [empty] 2fr repeat(3, auto [col-end]);
    column-gap: 20px;
    grid-template-rows: [row-start] 75% [row-end] 25%;
}

.header-title{
    grid-column: 1 / 2;
    grid-row: 1;
}

.header-link-1{
    grid-column: 2;
}
.header-link-2{
    grid-column: 3;
}
.header-link-3{
    grid-column: 4;
}
.header-link-4{
    grid-column: 5;
}

.header-link-5{
    grid-column: 7;
}
.header-link-6{
    grid-column: 8;
}

.header-link-7{
    grid-column: 9;
}

.level-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.member-button{
    padding: 5px 10px 5px 10px;
    background-color: rgb(223, 206, 114);
    border-radius: 20px;
    border: none;
}

.top-level-image{
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.top-level-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.font-base{
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: rgb(80, 80, 80);
}

.header-link{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-page-info-container{
    margin-top: 60vh;
    margin-left: 10px;
    padding: 0vh 0vh 6vh 0vh;
    display: grid;
    grid-template-columns: 40vw;
    grid-template-rows: [row-1] auto [row-2] auto [row-3] auto [row-4] auto;
    row-gap: 10px;
}

.mission-statement-container{
    box-sizing: border-box;
    background-color: rgb(252, 250, 241);
    display: grid;
    grid-template-columns: [col-1] 1fr;
    grid-template-rows: [row-1] auto [row-2] auto [row-3] auto;
    width: 100%;
    padding: 1em;
}

.mission-statement-icon{
    grid-row: 1;
}

.mission-statement{
    grid-row: 2;
}

.mission-statement-container hr {
    grid-row: 3;
    grid-column: col-1; 
    width: 100%;
    border: none;
    border-top: 2px solid rgb(80, 80, 80);
}

.main-content-container{
    display: grid;
    grid-template-columns: [col-1] 60% [col-2] 40%;
    grid-template-rows: auto;
    background-color: rgb(252, 250, 241);
}

.main-content-container-type1{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row-1] 20% [row-2] 60%;
    padding: 2em;
}

.main-content-container-type2{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row-1] 40% [row-2] 15%;
    padding: 2em;
}

.main-content-info-box{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 1em 3em 0em 3em;
}

.overview{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto;
    padding: 1em;
    background-color: rgb(252, 250, 241);
    row-gap: 10px;
}

.overview-content-container{
    display: grid;
    background-color: rgb(218, 218, 218);
    grid-template-columns: 30% 5% 30% 5% 30%;
    border-radius: 7px;
    padding: 1em;
}

.overview-content{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 8px;
}

.overview-icon{
    display: flex;
    justify-content: center;
    grid-row: 1;
}

.overview-tag{
    display: flex;
    justify-content: center;
    grid-row: 2;
}

.overview-info{
    display: flex;
    text-align: center;
    grid-row: 3;
}

.header-line{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.chart-container{
    background-color: rgb(252, 250, 241);
    padding: 1em 14em 1em 14em;
}

.chart{
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: 1fr 2% 1fr 2% 1fr 2% 1fr;
    grid-template-rows: 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 1fr;
    border-radius: 5px;
}

.chart-vertical{
    grid-row-start: 1;
    grid-row-end: -1;
}

.chart-horizontal{
    width: 97%;
    grid-column-start: 1;
    grid-column-end: -1;
}

.check{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(51, 99, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.not{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-text{
    text-align: center;
}

.footer-container{
    background-color: rgb(39, 26, 14);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr .1fr 1fr;
}

.footer-container-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 1em;
}

.footer-container-main-1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .5fr 1fr;
}

.footer-container-main-2{
    display: grid;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    grid-template-rows: .5fr 1fr;
    padding: 1em;
}

.footer-container-main-2-info{
    display: grid;
    grid-template-columns: 1fr .8fr;
    grid-auto-rows: 1fr 1fr 1fr;
}

.footer-container-second{
    display: grid;
    grid-template-rows: .4fr .5fr 1fr;
}

.footer-container-second-info{
    display: grid;
    grid-template-columns: 1fr .7fr;
    grid-template-rows: repeat(7, auto);
}

.footer-container-second-email{
    border-radius: 40px;
    display: grid;
    grid-template-columns: .3fr auto .3fr;
    background-color: grey;
}

.footer-container-second-signup{
    border-radius: 40px;
    background-color: rgb(223, 206, 114);
}

.link-text{
    color: white;
    font-size: 15px;
}


.footer-container-secondary{
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: auto;
    padding: 1em;
}

.footer-container-secondary-links{
    display: grid;
    grid-template-columns: .8fr auto .2fr;
}

.footer-info{
    display: grid;
    grid-template-columns: .3fr 1fr;
}

.footer-link{
    margin: 0em 1em 0em 1em;
}

.footer-container-links{
    display: flex;
}






