.top-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header-box{
    display: flex;
    flex: .5;
}

.top-header-link{
    cursor: pointer;
    margin-right: 1em;
}

.dot{
    border-radius: 50%;
    background-color: black;
    width: 5px;
    height: 5px;
    scale: 0;
}

.text-base{
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dotted-border{
    border-radius: 15px;
    border-color: blue;
    border-style: dotted;
}
